<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="person2" class="geektime.spring.springbucks.model.Person">
        <property name="name" value="Brown" />
        <property name="sex" value="1" />
        <property name="age" value="23" />
        <property name="job" value="programmer" />
    </bean>

</beans>